.translate-layout {
  max-width: 1260px;
  box-shadow: rgba(0, 0, 0, 0.37) 0 1px 4px 0;
  border-radius: 4px;
  margin: auto;
  margin-top: 48px;
}

.translate-header {
  display: flex;
  align-items: center;
  padding: 24px;

  .translate-header__text-wrapper {
    margin: 0 40px;

    h3, span {
      margin: 0;
    }
  }

  .translate-header__progress {
    width: 30%;

    p {
      margin: 0 0 4px 0;
      font-size: 14px;
    }
  }
}

.translate-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #edeeee;
  padding: 12px 20px;

  .translate-toolbar__svg-wrapper {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    svg {
      cursor: pointer;
    }
  }
}

.translate-body {
  display: flex;

  > div {
    min-height: 50vh;
    max-height: 70vh;
  }
}

.translate-body__text-input {
  overflow: auto;
  width: 70%;
  padding: 24px;

  .translate-body__text-input--row {
    margin-bottom: 24px;

    label {
      color: #888888;
    }
  }

  .translate-body__text-input--row__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;
  }
}

.translate-body__sidebar {
  width: 30%;
  padding: 24px;
  border-left: 1px solid #edeeee;
}
